/*Colors*/
/*
  Mixins
*/
.articles {
  margin-top: 50px;
  margin-bottom: 0;
}
.articles .featured-article {
  position: relative;
}
.articles .featured-article .carousel-header {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  color: #fff;
  background-color: #36b8a4;
}
@media screen and (max-width: 500px) {
  .articles .featured-article .carousel-header {
    top: 10px;
  }
}
.articles .featured-article .carousel-header h1 {
  font-size: 24px;
  margin: 25px 35px 15px;
  position: relative;
  font-weight: bold;
  font-family: 'Gotham', "Arial", "Helvetica", sans-serif;
}
@media screen and (max-width: 992px) {
  .articles .featured-article .carousel-header h1 {
    font-size: 18px;
    margin: 15px 25px 10px;
  }
}
.articles .featured-article .carousel-header::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #23917c;
  border-left: 15px solid transparent;
  position: absolute;
  /*top: 32px;*/
  left: 0;
}
.articles .carousel {
  display: table;
  width: 100%;
}
.articles .carousel .carousel-inner-container {
  width: calc(100% - 25%);
  position: relative;
  vertical-align: bottom;
  display: table-cell;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-inner-container {
    width: 100%;
    display: table;
  }
}
.articles .carousel .carousel-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 745px);
}
@media screen and (max-width: 1200px) {
  .articles .carousel .carousel-buttons {
    width: calc(100% - 84.5%);
  }
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-buttons {
    width: 100%;
    top: calc(100% - 55%);
  }
}
.articles .carousel .carousel-buttons a {
  width: 55px;
  height: 55px;
  /*margin: 0px 16px;*/
  background-color: #999999;
  background-image: none;
  text-shadow: none;
  opacity: 1;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
@media screen and (max-width: 500px) {
  .articles .carousel .carousel-buttons a {
    width: 40px;
    height: 40px;
  }
}
.articles .carousel .carousel-buttons a:hover {
  background-color: #666666;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
.articles .carousel .carousel-buttons a img {
  padding: 13px 20px;
}
@media screen and (max-width: 500px) {
  .articles .carousel .carousel-buttons a img {
    padding: 10px 15px;
    width: 100%;
  }
}
.articles .carousel .carousel-aside-container {
  width: calc(100% - 75%);
  vertical-align: bottom;
  display: table-cell;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-aside-container {
    width: 100%;
    display: table;
    margin-top: -63px;
  }
}
.articles .carousel .carousel-aside-container ol.carousel-indicators {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
  font-weight: 100;
  font-family: 'Gotham', "Arial", "Helvetica", sans-serif;
  padding: 20px 0px;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-aside-container ol.carousel-indicators {
    text-align: center;
    top: 15px;
  }
}
.articles .carousel .carousel-aside-container ol.carousel-indicators li {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  text-indent: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0px 5px;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-aside-container ol.carousel-indicators li {
    border: 1px solid #333333;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    text-align: center;
    color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .articles .carousel .carousel-aside-container ol.carousel-indicators li {
    width: 12px;
    height: 12px;
  }
}
.articles .carousel .carousel-aside-container ol.carousel-indicators li.active {
  color: #36b8a4;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-aside-container ol.carousel-indicators li.active {
    color: transparent;
    background-color: #36b8a4;
    border: 1px solid #36b8a4;
  }
}
.articles .carousel .carousel-aside-container ol.carousel-indicators li:hover {
  color: #36b8a4;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-aside-container ol.carousel-indicators li:hover {
    color: transparent;
  }
}
.articles .carousel .carousel-aside-container .carousel-content {
  background-color: #36b8a4;
  color: #fff;
  font-size: 34px;
  font-family: 'Gotham', "Arial", "Helvetica", sans-serif;
  padding: 15px;
  font-weight: 100;
  line-height: 45px;
}
@media screen and (max-width: 992px) {
  .articles .carousel .carousel-aside-container .carousel-content {
    line-height: normal;
  }
}
@media screen and (max-width: 500px) {
  .articles .carousel .carousel-aside-container .carousel-content {
    font-size: 24px;
  }
}
.articles .carousel .carousel-aside-container .carousel-content p.date {
  font-size: 18px;
  border-top: 1px solid #ffffff;
  padding-top: 20px;
  margin-top: 5px;
  line-height: normal;
}
