@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'), url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'), url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.woff2') format('woff2'), url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg'), url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
/*
  Mixins
*/
.work-anim {
  opacity: 0;
  -ms-transform: translateY(2vh);
  /* IE 9 */
  -webkit-transform: translateY(2vh);
  /* For Safari 3.1 to 6.0 */
  transform: translateY(2vh);
  -webkit-transition: all 0.8s ease;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.8s ease;
}
.work-anim.animate {
  opacity: 1;
  -ms-transform: translateY(0);
  /* IE 9 */
  -webkit-transform: translateY(0);
  /* For Safari 3.1 to 6.0 */
  transform: translateY(0);
}
section.header {
  padding-top: 48px;
  margin-bottom: 0px;
}
section.header h1 {
  font-size: 34px;
}
@media (min-width: 768px) and (max-width: 991px) {
  section.header h1 {
    font-size: 28px;
  }
}
section.header p {
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 991px) {
  section.header p {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  section.header {
    padding-top: 78px;
  }
}
section.latest {
  position: relative;
  text-align: center;
  background: #36b8a4;
  color: white;
  padding: 25px 0;
  margin: 50px 0 0px;
  font-size: 18px;
}
section.latest span.labelinput {
  font-size: 18px;
  width: 100%;
}
@media (min-width: 768px) {
  section.latest span.labelinput {
    width: auto;
  }
}
section.latest input {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  margin: 10px 0 0;
  width: 80%;
  max-width: 360px;
  color: #808080;
  padding: 5px 10px;
}
section.latest input::placeholder {
  color: #bbb;
}
@media (min-width: 768px) {
  section.latest input {
    width: auto;
    max-width: none;
    margin: 0 0 0 10px;
  }
}
section.latest .submit-btn {
  padding: 4px 12px;
  border-radius: 0;
  background: #2a9181;
  -webkit-appearance: none !important;
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
section.latest .submit-btn.active,
section.latest .submit-btn:focus,
section.latest .submit-btn:hover {
  background: #1f695e;
  color: white;
  text-decoration: none;
}
section.latest .submit-btn:focus {
  background: #13423b;
}
@media (max-width: 500px) {
  section.latest .submit-btn {
    width: 80%;
    margin-top: 10px;
  }
}
section.threebox {
  position: relative;
  margin: 50px 0 0;
}
section.threebox .box_overlay {
  width: 100%;
  height: 100%;
  background: rgba(54, 184, 164, 0.75);
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 0.4s ease;
}
section.threebox .box {
  cursor: pointer;
  height: calc(50vw - 30px);
  margin-top: 15px;
}
@media (min-width: 768px) {
  section.threebox .box {
    height: 220px;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  section.threebox .box {
    height: 293.33px;
  }
}
@media (min-width: 1200px) {
  section.threebox .box {
    height: 360px;
  }
}
section.threebox .box:hover .box_overlay,
section.threebox .box:active .box_overlay,
section.threebox .box:focus .box_overlay {
  opacity: 1;
}
section.threebox .box1 {
  background: url("../img/3box_1.jpg");
  background-size: cover;
  margin-top: 0;
}
section.threebox .box2 {
  background: url("../img/3box_2.jpg");
  background-size: cover;
  background-position: center 40%;
}
section.threebox .box3 {
  background: url("../img/3box_3.jpg");
  background-position: center 60%;
  background-size: cover;
}
section.threebox .box_text {
  position: absolute;
  font-family: 'Gotham', "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  top: 30px;
  left: 40px;
  font-size: 24px;
  color: white;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 991px) {
  section.threebox .box_text {
    font-size: 20px;
    top: 27px;
    left: 20px;
  }
}
section.threebox .right_arrow {
  width: 30px;
  height: auto;
  position: absolute;
  right: 25px;
  top: 32px;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 991px) {
  section.threebox .right_arrow {
    width: 25px;
    top: 27px;
    right: 5px;
  }
}
.modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
.modal-content {
  border: 0;
  text-align: center;
  font-family: 'Gotham', "Arial", "Helvetica", sans-serif;
}
.modal-dialog {
  position: absolute;
  top: 40%;
  left: 50%;
}
.modal.fade .modal-dialog,
.modal.in .modal-dialog {
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* For Safari 3.1 to 6.0 */
  transform: translate(-50%, -50%);
}
.modal-body {
  text-align: center;
}
.modal-dialog {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0;
}
.modal.fade .modal-dialog,
.modal.in .modal-dialog {
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* For Safari 3.1 to 6.0 */
  transform: translate(-50%, -50%);
}
.proposal-btn {
  background: #bf202f;
  color: white;
  border: none;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  padding: 5px 10px;
  margin: 5px;
}
@media screen and (max-width: 575px) {
  .modal-dialog {
    width: 80%;
  }
}
footer {
  margin: 50px 0 0px;
  background: #cccccc;
  padding-top: 25px;
  padding-bottom: 25px;
}
footer .footer .copyright {
  font-family: 'Gotham', "Arial", "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
@media (min-width: 992px) {
  footer .footer .copyright {
    padding-top: 13px;
  }
}
footer .footer .menu-footer {
  margin: 15px 0;
}
footer .footer .menu-footer ul {
  padding: 0;
}
footer .footer .menu-footer ul li {
  list-style: none;
  display: block;
  margin-right: 20px;
}
footer .footer .menu-footer ul li a {
  text-decoration: none !important;
  color: #333 !important;
  font-size: 14px;
}
footer .footer .menu-footer ul li:nth-child(3) {
  margin-right: 0;
}
@media (min-width: 768px) {
  footer .footer .menu-footer ul li {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  footer .footer .menu-footer {
    margin: 0;
    text-align: center;
    padding-top: 12px;
  }
}
footer .footer .logo {
  max-width: 205px;
}
@media (min-width: 992px) {
  footer .footer .logo {
    margin-left: auto;
    margin-right: 0;
  }
}
footer .footer .logo img {
  width: 100%;
  height: auto;
}
_:-ms-fullscreen,
:root .right_arrow {
  top: -26px !important;
}
