@gotham: 'Gotham', "Arial","Helvetica",sans-serif;

/*Colors*/
@green: #36b8a4;
@darkgreen: #23917c;
@gray: #999999;
@darkgray: #666666;
@black: #333333;

@easePower3: cubic-bezier(.6,.01,.49,.99);
@easePower4: cubic-bezier(.43,0,0,.99);

/*
  Mixins
*/
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}
.transition(@trans: all .2s linear){
  -webkit-transition: @trans; /* For Safari 3.1 to 6.0 */
        transition: @trans;
}
.transform(@tf){
  -ms-transform: @tf; /* IE 9 */
  -webkit-transform: @tf; /* For Safari 3.1 to 6.0 */
        transform: @tf;
}

.articles {
    margin-top: 50px;
    margin-bottom: 0;
    .featured-article {
        position: relative;
        .carousel-header {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 1;
            color: #fff;
            background-color: @green;
            @media screen and (max-width: 500px){
                top:5px;
            }

            h1 {
                font-size: 24px;
                margin: 25px 35px 15px;
                position: relative;
                font-weight: bold;
                font-family: @gotham;

                @media screen and (max-width: 992px){
                    font-size: 18px;
                    margin: 15px 25px 10px;
                }
            }
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 15px solid @darkgreen;
                border-left: 15px solid transparent;
                position: absolute;
                /*top: 32px;*/
                left: 0;
            }
        }    
    }
    .carousel {
        display: table;
        width: 100%;

        .carousel-inner-container {
            width: ~"calc(100% - 25%)";
            position: relative;
            vertical-align: bottom;
            display: table-cell;
            @media screen and (max-width: 992px){
                width:100%;
                display: table;
            }
        }
       .carousel-buttons {
            position: absolute;
            top: 0;
            right: 0;
            width: ~"calc(100% - 745px)";
            @media screen and (max-width: 1200px){
                width: ~"calc(100% - 84.5%)";
            }
            @media screen and (max-width: 992px){
                width: 100%;
                top: ~"calc(100% - 55%)";
            }
            a {
                width: 55px;
                height: 55px;
                /*margin: 0px 16px;*/
                background-color: @gray;
                background-image: none;
                text-shadow: none;
                opacity: 1;
                transition: 0.4s ease;
                -webkit-transition: 0.4s ease;
                @media screen and (max-width: 500px){
                    width: 40px;
                    height: 40px;
                }
                &:hover {
                    background-color: @darkgray;
                    transition: 0.4s ease;
                    -webkit-transition: 0.4s ease;
                }
                img {
                    padding: 13px 20px;
                    @media screen and (max-width: 500px) {
                        padding: 10px 15px;
                        width: 100%;
                    }
                }
            }
        }
        .carousel-aside-container {
            width: ~"calc(100% - 75%)";
            vertical-align: bottom;
            display: table-cell;
            @media screen and (max-width: 992px){
                width:100%;
                display: table;
                margin-top: -63px;
            }
            ol.carousel-indicators {
                position: relative;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                padding: 0;
                margin: 0;
                text-align: right;
                font-weight: 100;
                font-family: @gotham;
                padding: 20px 0px;
                @media screen and (max-width: 992px){
                    text-align: center;
                    top:15px;
                }
                li {
                    display: inline-block;
                    width: auto; 
                    height: auto; 
                    margin: 0; 
                    text-indent:0; 
                    cursor: pointer; 
                    background-color: transparent;
                    border:none;
                    border-radius: 0; 
                    padding: 0px 5px;
                    transition: 0.4s ease;
                    -webkit-transition: 0.4s ease;
                    @media screen and (max-width: 992px){
                        border: 1px solid @black;
                        border-radius: 100%;
                        width: 15px;
                        height: 15px;
                        text-align: center;
                        color: transparent;
                    }
                    @media screen and (max-width: 768px) {
                        width: 12px;
                        height: 12px;
                    }
                    &.active {
                        color:@green;  
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease; 
                        @media screen and (max-width: 992px){
                            color: transparent;
                            background-color: @green;
                            border: 1px solid @green;
                        }                 
                    }
                    &:hover {
                        color: @green;
                        transition: 0.4s ease;
                        -webkit-transition: 0.4s ease;
                        @media screen and (max-width: 992px){
                            color: transparent;
                        }
                    }
                }
            }

            .carousel-content {
                background-color: @green;
                color: #fff;
                font-size: 34px;
                font-family: @gotham;
                padding: 15px;
                font-weight: 100;
                line-height: 45px;
                @media screen and (max-width: 992px){
                    line-height: normal;
                }
                @media screen and (max-width: 500px) {
                    font-size: 24px;
                }
                p {
                    &.date {
                        font-size: 18px;
                        border-top: 1px solid #ffffff;
                        padding-top: 20px;
                        margin-top: 5px;
                        line-height: normal;
                    
                    }
                }
            }

        }
    }
           
}