

@gotham: 'Gotham', "Arial","Helvetica",sans-serif;

@easePower3: cubic-bezier(.6,.01,.49,.99);
@easePower4: cubic-bezier(.43,0,0,.99);

/*
  Colours
*/
@textcolor: #58595B;
@teal: #36B8A4;
@gold: #c5982d;

/*
    Mixins
*/
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}
.transition(@trans: all .2s linear){
  -webkit-transition: @trans; /* For Safari 3.1 to 6.0 */
        transition: @trans;
}
.transform(@tf){
  -ms-transform: @tf; /* IE 9 */
  -webkit-transform: @tf; /* For Safari 3.1 to 6.0 */
        transform: @tf;
}

body{
 	font-family: @gotham;
    position: relative;
    background-color: white;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.cont{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.menu-button{
    position: absolute;
    top: 35px;
    right: 45px;
    width: 30px;
    height: 28px;
    z-index: 11;
    .transition(all 0.2s ease);

    #bar1, #bar2, #bar3{
        width: 30px;
        height: 5px;
        background-color: @teal;
        margin-bottom: 4px;
        position: relative;
        .transition(background-color 0.4s linear);
    }
  
    &.on{
        #bar1, #bar2, #bar3{
            background-color: white;
        }
        #bar1{
            .transform(rotate(45deg));
            top: 11px;
    		    -webkit-transition: -webkit-transform 0.2s @easePower3, background-color 0.2s linear 0.4s;
               		transition: transform 0.2s @easePower3, background-color 0.2s linear 0.4s;
        }
        #bar2{
            opacity: 0;
        }
        #bar3{
            .transform(rotate(-45deg));
            top: -7px;
		    -webkit-transition: -webkit-transform 0.2s @easePower3, background-color 0.2s linear 0.4s;
          		transition: transform 0.2s @easePower3, background-color 0.2s linear 0.4s;
        }
      
    }
    @media screen and (max-width: 991px){
        top: 28px;
    }
    @media screen and (max-width: 767px){
        top: 25px;
        left: 25px;
    }
}

.menu-wrapper{
	position: absolute;
	top: -200px;
	right: -280px;
	width: 280px;
	z-index: 10;
	.transition(all 0.4s @easePower3);

	ul.main-menu{
		list-style: none;
		padding: 0;
		margin: 0;
		padding: 80px 45px 15px 25px;
		background: @teal;
	}
	li{
		border-bottom: 1px solid white;
		position: relative;
		a{
			text-transform: uppercase;
			font-weight: 100;
			width: 100%;
			padding: 15px 0;
			color: white;
			text-decoration: none;
			display: block;
			&:hover, &:focus{
				text-decoration: none;
			}
		}
	}
	li:last-child{
		border-bottom: 0;
	}
	.dd-menu{
		list-style: none;
		padding: 0;
		margin: 0;
		border-top: 1px solid white;
		display: none;
		li a{
			padding: 10px 0;
			font-size: 85%;
			text-transform: none;
		}
	}
	.logo{
		width: 240px;
		padding: 20px 25px;
		background-color: white;
		img{
			width: 100%;
		}
	}
	&.on{
		top: 0;
		right: 0;
	}
	.dd-arrow{
		position: absolute;
		top: 15px;
		right: -4px;
		width: 24px;
		.transform(rotate(-90deg));
		img{
			width: 100%;
		}
		&.on{
			.transform(rotate(0deg));
		}
	}
}